.adm-submenu-item-link-icon.lol_metrika_menu_icon {background: url(icons/lol.metrika/metrika.png) no-repeat 10px 3px !important;}

div.metrika_graph {margin:20px 0px 20px 0px;}
div.metrika_graph img.graph {margin:10px;}
div.metrika_graph table.graph {border:1px solid #BDC6E0;}
div.metrika_graph table.legend {margin:0px 0px 7px 10px; font-size:70%;}
div.metrika_graph table.legend td {padding:3px 10px 3px 0px;}